$black-color: #2D3136;
$gray-color: #7F8C99;
$yellow-color: #f4c151;

// Fonts
$Kaisei-font: "Kaisei HarunoUmi", sans-serif;
$JetBrains-font: "JetBrains Mono", sans-serif;
$Niconne: "Niconne", sans-serif;
$Akaya: "Akaya Kanadaka", sans-serif;
$Monkey: "Happy Monkey", sans-serif;
$Quicksand: "Quicksand", sans-serif;


* {
    font-family: $Quicksand;
}