// Colors
$black-color: #2D3136;
$gray-color: #7F8C99;
$yellow-color: #F4C151;

// Fonts
$Kaisei-font: "Kaisei HarunoUmi", sans-serif;
$JetBrains-font: "JetBrains Mono", sans-serif;
$Niconne: "Niconne", sans-serif;
$Akaya: "Akaya Kanadaka", sans-serif;


.subtitle-small {
    font-family: $Niconne, sans-serif;
}

.subtitle-big {
    font-family: $Niconne, sans-serif;
}

.description {
    font-family: $JetBrains-font, sans-serif;
}

.beneficit-custom {
    font-family: $JetBrains-font, sans-serif;
}

.acordian-container {
    font-family: $JetBrains-font, sans-serif;
}

.align-items {
  align-content: center;
}
