<div class="small-big-subtitle mt-[40px] md:mt-0 pt-8 flex flex-col items-center justify-center md:items-center">
    <div class="subtitle-small text-xl md:text-2xl font-bold mb-3 md:mb-5">
        <p>
            Equipamiento
        </p>
    </div>
    <div class="subtitle-big text-3xl md:text-4xl font-bold md:mb-5 text-center mb-3 ">
        <p>
            Características y beneficios de nuestras instalaciones
        </p>
    </div>
    <div class="description w-[90%] md:w-[50%] text-center">
        El monitoreo en salas se realiza con sistemas de circuito cerrado y comunicación interna mediante monitores. Además, ofrecemos Wi-Fi de alta velocidad para conexión sin interrupciones.
    </div>
</div>
<div class="beneficit-custom grid py-8 shadow-xs md:mb-12 md:grid-cols-3 bg-[#F5F5F5] p-2 md:p-8 md:mt-[40px]">
    <figure class="flex flex-col items-center justify-center p-8 text-center bg-[#8d0c28] border-b border-[#2D3136] rounded-t-lg md:rounded-t-none md:rounded-ss-lg md:border-e">
        <figcaption class="flex items-center justify-center my-4">
            <i class="fa-solid fa-chair rounded-full text-6xl text-white"></i>
        </figcaption> 
        <blockquote class="max-w-2xl mx-auto mb-4 text-gray-500 lg:mb-8 dark:text-gray-400">
            <div class="inline-block border-b-4">
                <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Mobiliario</h3>
            </div>
            <p class="my-4 text-white">
                Nuestras salas cuentan con sillas ergonómicas American Seating y mesas modulares bipersonales y tripersonales, permitiendo una distribución flexible para cada evento. Esto garantiza comodidad y adaptación a cualquier tipo de conferencia o reunión.
            </p>
        </blockquote>
    </figure>
    <figure class="flex flex-col items-center justify-center p-8 text-center bg-[#F4C151] md:rounded-none">
        <figcaption class="flex items-center justify-center my-4">
            <i class="fa-solid fa-shield-halved rounded-full text-6xl text-[#2D3136]"></i>
        </figcaption> 
        <blockquote class="max-w-2xl mx-auto mb-4 text-gray-500 lg:mb-8 dark:text-gray-400">
            <div class="inline-block border-b-4 border-[#2D3136]">
                <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Seguridad</h3>
            </div>
            <p class="my-4 text-[#2D3136]">
                Para la tranquilidad de todos, contamos con un sistema de alarma contra incendios, detectores de humo y sirenas con luces estroboscópicas, asegurando una respuesta inmediata ante cualquier emergencia.
            </p>
        </blockquote>   
    </figure>
    <figure class="flex flex-col items-center justify-center p-8 text-center bg-[#8d0c28] md:rounded-se-lg">
        <figcaption class="flex items-center justify-center my-4">
            <i class="fa-solid fa-volume-high rounded-full text-6xl text-white"></i>
        </figcaption> 
        <blockquote class="max-w-2xl mx-auto mb-4 text-gray-500 lg:mb-8 dark:text-gray-400">
            <div class="inline-block border-b-4">
                <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Audio y Sonido</h3>
            </div>
            <p class="my-4 text-white">
                Ofrecemos una calidad de sonido superior con micrófonos digitales y analógicos, micrófonos inalámbricos y solaperos, además de una consola de audio de 24 canales. Nuestros parlantes y woofers garantizan una excelente acústica, complementada con un sistema de monitoreo y transmisión en circuito cerrado.
            </p>
        </blockquote>   
    </figure>
    <figure class="flex flex-col items-center justify-center p-8 text-center bg-[#F4C151] border-gray-200 rounded-b-lg md:rounded-bl-lg md:rounded-br-none">
        <figcaption class="flex items-center justify-center my-4">
            <i class="fa-solid fa-video rounded-full text-6xl text-[#2D3136]"></i>
        </figcaption> 
        <blockquote class="max-w-2xl mx-auto mb-4 text-gray-500 lg:mb-8 dark:text-gray-400">
            <div class="inline-block border-b-4 border-[#2D3136]">
                <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Proyección Multimedia</h3>
            </div>
            <p class="my-4 text-[#2D3136]">
                Las salas están equipadas con proyectores de alta resolución XGA, pantallas retráctiles de gran formato y compatibilidad con todos los formatos de video, asegurando presentaciones nítidas y profesionales.
            </p>
        </blockquote> 
    </figure>
    <figure class="flex flex-col items-center justify-center p-8 text-center border-gray-200 rounded-b-lg md:rounded-tr-none md:rounded-bl-none md:rounded-br-none bg-[#8d0c28]">
        <figcaption class="flex items-center justify-center my-4">
            <i class="fa-regular fa-lightbulb rounded-full text-6xl text-white"></i>
        </figcaption> 
        <blockquote class="max-w-2xl mx-auto mb-4 text-gray-500 lg:mb-8 dark:text-gray-400">
            <div class="inline-block border-b-4">
                <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Iluminación</h3>
            </div>
            <p class="my-4 text-white">
                Disponemos de luces fluorescentes de alta definición, control de intensidad, iluminación de emergencia y decorativa, además de una escenografía con mampostería de piedra que realza el escenario principal.
            </p>
        </blockquote>  
    </figure>
    <figure class="flex flex-col items-center justify-center p-8 text-center bg-[#F4C151] border-gray-200 rounded-b-lg md:rounded-tr-none md:rounded-bl-none">
        <figcaption class="flex items-center justify-center my-4">
            <i class="fa-solid fa-language rounded-full text-6xl text-[#2D3136]"></i>
        </figcaption>    
        <blockquote class="max-w-2xl mx-auto mb-4 text-gray-500 lg:mb-8 dark:text-gray-400">
            <div class="inline-block border-b-4 border-[#2D3136]">
                <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Traducción Simultánea</h3>
            </div>
            <p class="my-4 text-[#2D3136]">
                Para eventos internacionales, contamos con cabinas de traducción para cuatro idiomas, radiadores infrarrojos y audífonos para 500 asistentes, garantizando una comunicación clara sin interferencias.
            </p>
        </blockquote>
    </figure>
</div>
