// Colors
$black-color: #2D3136;
$gray-color: #7F8C99;
$yellow-color: #F4C151;

// Fonts
$Kaisei-font: "Kaisei HarunoUmi", sans-serif;
$JetBrains-font: "JetBrains Mono", sans-serif;


.subtitle-small{
    font-family: $JetBrains-font, sans-serif;
}

.subtitle-big{
    font-family: $Kaisei-font, sans-serif;
}

.description{
    font-family: $JetBrains-font, sans-serif;
    color: $gray-color;
}

.beneficit-custom{
    font-family: $JetBrains-font, sans-serif;
}