// Colores
$black-color: #2D3136;
$gray-color: #7F8C99;
$yellow-color: #F4C151;

// Tipografías
$Kaisei-font: "Kaisei HarunoUmi", sans-serif;
$JetBrains-font: "JetBrains Mono", sans-serif;

.title{
    font-family: $Kaisei-font, sans-serif;
}

.custom-button{
    cursor: pointer;
    border-radius: 7px;
    padding: 10px 50px;
}

.description{
    font-family: $JetBrains-font, sans-serif;
    color: $gray-color;
}

#btn-hours{
    background-color: $yellow-color;
    color: $black-color;
    font-family: $JetBrains-font;
}

#btn-location{
    border: 2px solid $yellow-color;
    color: $yellow-color;
    font-family: $JetBrains-font;
}