<div class="h-0 md:h-[50px]">
</div>
<section class="custom-first-view md:h-[90vh] flex md:items-center md:justify-center" id="first-view">
    <div class="contex-home mx-auto w-[90%] md:w-[100%] p-4 pt-[100px] md:flex md:justify-around flex-col-reverse md:flex-row flex">  
        <div class="childs md:w-[45%] w-[100%] flex md:my-auto md:justify-center h-[auto] md:h-[400px] md:pb-[45%]">
            <div class="img-log">
                <img src="images/logoGedur_6.png" alt="logo_gdur">
            </div>
        </div>
        <div class="childs md:w-[45%] w-[100%]">
            <div class="text-container p-0 md:p-6 rounded-lg">
                <div class="title flex flex-col text-center md:flex-col text-2xl md:text-5xl items-center md:items-start md:justify-start mb-4 font-medium text-white md:text-[#1a1a1d]">  
                    <span class="span-1 w-full font-extrabold text-6xl leading-none mb-2 md:text-7xl md:leading-[1] md:text-center">
                        Centro
                    </span>
                    <span class="span-2 w-full md:leading-[1.5] font-bold text-4xl md:text-5xl md:text-center">
                        de
                    </span>
                    <span class="span-3 w-full block md:inline md:leading-[1] font-extrabold text-6xl mb-2 md:text-7xl md:text-left md:pl-[10vw]">
                        Convenciones
                    </span>
                    <span class="span-4 w-full md:inline md:leading-[1.2] font-bold text-7xl md:text-9xl md:text-center">
                        Cusco
                    </span>
                </div>
                <div class="description ml-6 my-8 hidden sm:block text-center text-gray-800 md:font-bold text-xl">
                    <p>
                        "Donde la historia y modernidad se unen. Cusco, el Centro de Convenciones Cusco fusiona la elegancia de un palacio histórico con tecnología de vanguardia. Un espacio único para eventos de clase mundial, rodeado de cultura y tradición."
                    </p>
                </div>
                <div class="button-container md:flex md:justify-evenly flex-col md:flex-row flex items-center justify-center">
                    <div class="link-buttons mb-3 md:mb-0 md:mr-1">
                        <button type="button" class="bg-[#F4C151] custom-button transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 hover:bg-[#740938] text-black hover:text-white  font-bold hover:border-0 duration-300 text-white" id="btn-hours">
                            <a (click)="scrollToContacts()" class="cursor-pointer">
                                Horarios
                            </a>
                        </button>
                    </div>
                    <div class="link-buttons">
                        <button  type="button" class="custom-button transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 font-bold bg-[#740938] text-white hover:bg-[#F4C151] hover:text-black duration-300" id="btn-location">
                            <a (click)="scrollToEmail()" class="cursor-pointer">
                                Reservar
                            </a>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
