@if (typeSection==='challenge-champions') {
  <h1 class="text-7xl font-bold mb-4 text-white flex justify-center items-center"
      style="font-family: Niconne, sans-serif, sans-serif;">
    Octavos de Final – Reto de Campeones
  </h1>

  <div class="p-6 text-white from-indigo-900 to-blue-[#000000] rounded-xl shadow-xl">
    <!-- Selector de categoría -->


    <!-- Bracket -->
    <!-- Bracket -->
    <div class="bracket-container bg-[#000000] p-8 rounded-xl shadow-xl overflow-auto">
      <div class="mb-6 flex items-center justify-center">
        <label class="mr-3 font-semibold text-lg text-yellow-400">Selecciona Categoría:</label>
        <select [(ngModel)]="selectedCategory"
                class="text-gray-900 p-2 rounded-lg border border-gray-300 focus:ring-2 focus:ring-indigo-500">
          <option *ngFor="let c of categories" [value]="c">{{ c }}</option>
        </select>
      </div>
    <!-- CASO FUTBOL PRIMARIA (con octavos) -->
      <div *ngIf="selectedCategory === 'futbol-primaria'" class="grid grid-cols-7 gap-8 items-center">
        <!-- Octavos izquierda -->
        <div class="space-y-10">
          <div *ngFor="let match of getRounds('R16').slice(0,4)" class="relative w-48">
            <button class="block w-full bg-slate-700 hover:bg-indigo-600 text-yellow-400 transition p-2 text-yellow-400 rounded-lg mb-6 shadow"
                    (click)="selectWinner(match, match.team1!)">{{ match.team1?.name }}</button>
            <button class="block w-full bg-slate-700 hover:bg-indigo-600 transition text-yellow-400 p-2 text-yellow-400 rounded-lg mb-6 shadow"
                    (click)="selectWinner(match, match.team2!)">{{ match.team2?.name }}</button>
<!--            <div class="absolute right-[-2rem] top-1/2 w-8 border-t border-gray-300 mb-4"></div>-->
          </div>
        </div>

        <!-- Cuartos izquierda -->
        <div class="space-y-32">
          <div *ngFor="let match of getRounds('QF').slice(0,2)" class="relative w-48">
            <div class="bg-slate-600 p-2 text-yellow-400 text-yellow-400 rounded-lg mb-[100px] text-center">{{ match.team1?.name || '---' }}</div>
            <div class="bg-slate-600 p-2 text-yellow-400 text-yellow-400 rounded-lg text-center">{{ match.team2?.name || '---' }}</div>
<!--            <div class="absolute right-[-2rem] top-1/2 mb-2 w-8 border-t border-gray-300"></div>-->
          </div>
        </div>

        <!-- Semifinal izquierda -->
        <div>
          <div *ngFor="let match of getRounds('SF').slice(0,1)" class="relative w-48">
            <div class="bg-slate-600 p-2 text-yellow-400 text-yellow-400 rounded-lg mb-[255px] text-center">{{ match.team1?.name || '---' }}</div>
            <div class="bg-slate-600 p-2 text-yellow-400 text-yellow-400 rounded-lg text-center">{{ match.team2?.name || '---' }}</div>
<!--            <div class="absolute right-[-2rem] top-1/2 w-8 border-t border-gray-300"></div>-->
          </div>
        </div>

        <!-- Final con copa -->
        <div class="relative flex flex-col items-center">
          <div class="">
            <img src="championship/cup.png" alt="Copa" class="w-40 h-40 mx-auto drop-shadow-lg">
          </div>
          <h2 class="text-xl font-bold mb-2">FINAL</h2>
          <div *ngFor="let match of getRounds('F')" class="bg-gradient-to-r from-yellow-400 to-yellow-600 p-4 rounded-xl w-56 text-black text-center shadow-lg">
            <div class="mb-2 font-semibold">{{ match.team1?.name || '---' }}</div>
            <div class="font-semibold">{{ match.team2?.name || '---' }}</div>
            <div *ngIf="match.winner" class="mt-3 font-bold text-xl text-indigo-900">🏆 {{ match.winner.name }}</div>
          </div>
        </div>

        <!-- Semifinal derecha -->
        <div>
          <div *ngFor="let match of getRounds('SF').slice(1,2)" class="relative w-48">
            <div class="bg-slate-600 p-2 text-yellow-400 text-yellow-400 rounded-lg mb-[255px] text-center">{{ match.team1?.name || '---' }}</div>
            <div class="bg-slate-600 p-2 text-yellow-400 text-yellow-400 rounded-lg text-center">{{ match.team2?.name || '---' }}</div>
<!--            <div class="absolute left-[-2rem] top-1/2 w-8 border-t border-gray-300"></div>-->
          </div>
        </div>

        <!-- Cuartos derecha -->
        <div class="space-y-32">
          <div *ngFor="let match of getRounds('QF').slice(2,4)" class="relative w-48">
<!--            <div class="absolute left-[-2rem] top-1/2 w-8 border-t border-gray-300"></div>-->
            <div class="bg-slate-600 p-2 text-yellow-400 text-yellow-400 rounded-lg mb-2 text-center mb-[100px]">{{ match.team1?.name || '---' }}</div>
            <div class="bg-slate-600 p-2 text-yellow-400 text-yellow-400 rounded-lg text-center">{{ match.team2?.name || '---' }}</div>
          </div>
        </div>

        <!-- Octavos derecha -->
        <div class="space-y-10">
          <div *ngFor="let match of getRounds('R16').slice(4,8)" class="relative w-48">
            <button class="block w-full bg-slate-700 text-yellow-400 hover:bg-indigo-600 transition p-2 text-yellow-400 rounded-lg mb-6 shadow"
                    (click)="selectWinner(match, match.team1!)">{{ match.team1?.name }}</button>
            <button class="block w-full bg-slate-700 text-yellow-400 hover:bg-indigo-600 transition p-2 text-yellow-400  mb-6 rounded-lg shadow"
                    (click)="selectWinner(match, match.team2!)">{{ match.team2?.name }}</button>
<!--            <div class="absolute left-[-2rem] top-1/2 w-8 border-t border-gray-300"></div>-->
          </div>
        </div>
      </div>

      <!-- CASO DEMÁS (secundaria y voley: desde cuartos) -->
      <div *ngIf="selectedCategory !== 'futbol-primaria'" class="grid grid-cols-5 gap-8 items-center">
        <!-- Cuartos izquierda -->
        <div class="space-y-52">
          <div *ngFor="let match of getRounds('QF').slice(0,2)" class="relative w-48">
            <div class="bg-slate-600 p-2 text-yellow-400 rounded-lg mb-6 text-center">{{ match.team1?.name || '---' }}</div>
            <div class="bg-slate-600 p-2 text-yellow-400 rounded-lg text-center">{{ match.team2?.name || '---' }}</div>
<!--            <div class="absolute right-[-2rem] top-1/2 w-8 border-t border-gray-300"></div>-->
          </div>
        </div>

        <!-- Semifinal izquierda -->
        <div>
          <div *ngFor="let match of getRounds('SF').slice(0,1)" class="relative w-48">
            <div class="bg-slate-600 p-2 text-yellow-400 rounded-lg mb-[250px] text-center">{{ match.team1?.name || '---' }}</div>
            <div class="bg-slate-600 p-2 text-yellow-400 rounded-lg text-center">{{ match.team2?.name || '---' }}</div>
<!--            <div class="absolute right-[-2rem] top-1/2 w-8 border-t border-gray-300"></div>-->
          </div>
        </div>

        <!-- Final con copa -->
        <div class="relative flex flex-col items-center">
          <div class="mb-2">
            <img src="championship/cup.png" alt="Copa" class="w-40 h-40 mx-auto drop-shadow-lg">
          </div>
          <h2 class="text-xl font-bold mb-2">FINAL</h2>
          <div *ngFor="let match of getRounds('F')" class="bg-gradient-to-r from-yellow-400 to-yellow-600 p-4 rounded-xl w-56 text-black text-center shadow-lg">
            <div class="mb-2 font-semibold">{{ match.team1?.name || '---' }}</div>
            <div class="font-semibold">{{ match.team2?.name || '---' }}</div>
            <div *ngIf="match.winner" class="mt-2 font-bold text-xl text-indigo-900">🏆 {{ match.winner.name }}</div>
          </div>
        </div>

        <!-- Semifinal derecha -->
        <div>
          <div *ngFor="let match of getRounds('SF').slice(1,2)" class="relative w-48">
            <div class="bg-slate-600 p-2 text-yellow-400 rounded-lg mb-[250px] text-center">{{ match.team1?.name || '---' }}</div>
            <div class="bg-slate-600 p-2 text-yellow-400 rounded-lg text-center">{{ match.team2?.name || '---' }}</div>
<!--            <div class="absolute left-[-2rem] top-1/2 w-8 border-t border-gray-300"></div>-->
          </div>
        </div>

        <!-- Cuartos derecha -->
        <div class="space-y-56">
          <div *ngFor="let match of getRounds('QF').slice(2,4)" class="relative mt-[20px] w-48">
<!--            <div class="absolute left-[-2rem] top-1/2 w-8 border-t border-gray-300"></div>-->
            <div class="bg-slate-600 p-2 text-yellow-400 rounded-lg mb-6 text-center">{{ match.team1?.name || '---' }}</div>
            <div class="bg-slate-600 p-2 text-yellow-400 rounded-lg text-center">{{ match.team2?.name || '---' }}</div>
          </div>
        </div>
      </div>

      <!-- 3er y 4to puesto -->
      <div class="mt-12 flex justify-center">
        <div *ngFor="let match of getRounds('3P')"
             class="bg-gray-500 p-4 rounded-lg w-64 text-center text-white shadow">
          <h3 class="font-bold mb-2 text-yellow-400">3° Y 4° PUESTO</h3>
          <div class="text-yellow-400">{{ match.team1?.name || '---' }}</div>
          <div class="text-yellow-400">{{ match.team2?.name || '---' }}</div>
        </div>
      </div>
    </div>
  </div>
}
