<!--<app-section-home />-->
<!--<app-section-home class="" (sectionChanged)="onSectionChanged($event)"></app-section-home>-->
<!--@if(sectionChangedValue === 'useful-vacations') {-->
<!--  <app-useful-vacations/>-->
<!--}-->
<!--@if (sectionChangedValue === 'seminar') {-->
<!--  <app-seminar/>-->
<!--}-->
<!--<div class="background">-->
<!--&lt;!&ndash;  <app-main-reto [typeSection]="sectionChangedValue"/>&ndash;&gt;-->
<!--  <app-main-bike [typeSection]="sectionChangedValue"/>-->
<!--</div>-->
