<!--<app-section-home />-->
<app-section-home class="" (sectionChanged)="onSectionChanged($event)"></app-section-home>
<!--@if (sectionChangedValue === 'useful-vacations') {-->
<!--  <app-header [typeSection]="sectionChangedValue"></app-header>-->
<!--  <app-footer [typeSection]="sectionChangedValue"></app-footer>-->
<!--}-->
@if(sectionChangedValue === 'useful-vacations') {
  <app-useful-vacations/>
}
@if (sectionChangedValue === 'seminar') {
  <app-seminar/>
}
<div class="background">
  <app-main-reto [typeSection]="sectionChangedValue"/>
  <app-main-bike [typeSection]="sectionChangedValue"/>
</div>
