<!--<app-section-home />-->
<app-section-home (sectionChanged)="onSectionChanged($event)"></app-section-home>
<div class="bg-section">
  <app-presentation [typeSection]="sectionChangedValue" />
  <app-bracket [typeSection]="sectionChangedValue"></app-bracket>
  <app-gallery [typeSection]="sectionChangedValue" />
  <app-carrousel [typeSection]="sectionChangedValue" />
  <app-fixture [typeSection]="sectionChangedValue" />
  <app-about [typeSection]="sectionChangedValue" />
  <app-email-form [typeSection]="sectionChangedValue" />
</div>
