// Colors
$black-color: #2D3136;
$gray-color: #7F8C99;
$yellow-color: #f4c151;

// Fonts
$Kaisei-font: "Kaisei HarunoUmi", sans-serif;
$JetBrains-font: "JetBrains Mono", sans-serif;
$Niconne: "Niconne", sans-serif;
$Akaya: "Akaya Kanadaka", sans-serif;

.abo-cont-item {
    background-image: linear-gradient(rgba(54, 4, 26, 0.619), rgba(101, 79, 33, 0.641)), url('/images/palacio_post.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    background-attachment: fixed;
    height: auto;
}

.small-text {
    font-family: $Niconne, sans-serif;
}

.big-title {
    font-family: $Niconne, sans-serif;
}

.about-section {
    font-family: $JetBrains-font, sans-serif;
}

.subtitle-small {
    font-family: $Niconne, sans-serif;
    color: $black-color;

}

.subtitle-big {
    font-family: $Niconne, sans-serif;
    color: $black-color;
}

.description {
    font-family: $Akaya, sans-serif;
}

.card_desc-about {
    background-color: rgba(231, 236, 240, 0.458);
}


#child-1 {
    animation: changeBg_1 9s infinite;
    transition: background-color 0.5s ease-in-out;
    // color: rgb(244, 193, 81);
}

@keyframes changeBg_1 {

    0%,
    100% {
        background-color: rgba(156, 163, 175, 0.507);
    }
    0% {
        background-color: rgb(244, 192, 81);
    }
    43% {
        background-color: rgba(156, 163, 175, 0.507);
    }
}

#child-2 {
    animation: changeBg_2 9s infinite;
    transition: background-color 0.5s ease-in-out;
}

@keyframes changeBg_2 {

    0%,
    100% {
        background-color: rgba(156, 163, 175, 0.507);
    }
    43% {
        background-color: rgb(244, 192, 81);
    }
    60% {
        background-color: rgba(156, 163, 175, 0.507);
    }
}

#child-3 {
    animation: changeBg_3 9s infinite;
    transition: background-color 0.5s ease-in-out;
}

@keyframes changeBg_3 {

    0%,
    100% {
        background-color: rgba(156, 163, 175, 0.507);
    }
    73% {
        background-color: rgb(244, 192, 81);
    }
    99% {
        background-color: rgba(156, 163, 175, 0.507);
    }
}


.slider-container {
    overflow: hidden;
    width: 100%;
    position: relative;
}

.slider {
    display: flex;
    width: 200%;
    animation: slide 10s linear infinite;

    img {
        
        flex-shrink: 0;
    }
}

@keyframes slide {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}