// Colors
$black-color: #2D3136;
$gray-color: #7F8C99;
$yellow-color: #f4c151;

// Fonts
$Kaisei-font: "Kaisei HarunoUmi", sans-serif;
$JetBrains-font: "JetBrains Mono", sans-serif;
$Niconne: "Niconne", sans-serif;
$Akaya: "Akaya Kanadaka", sans-serif;

.abo-cont-item {
    background-image: linear-gradient(rgba(54, 4, 26, 0.619), rgba(101, 79, 33, 0.641)), url('/images/palacio_post.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    background-attachment: fixed;
    height: auto;
}

.small-text {
    font-family: $Niconne, sans-serif;
}

.big-title {
    font-family: $Niconne, sans-serif;
}

.about-section {
    font-family: $JetBrains-font, sans-serif;
}

.subtitle-small {
    font-family: $Niconne, sans-serif;
    color: $black-color;

}

.subtitle-big {
    font-family: $Niconne, sans-serif;
    color: $black-color;
}

.description {
    font-family: $Akaya, sans-serif;
}

.card_desc-about {
    background-color: rgba(231, 236, 240, 0.1);
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.45);
    -webkit-backdrop-filter: blur(10px);
}


#child-1 {
    animation: changeBg 9s infinite;
    transition: background-color 0.5s ease-in-out;
}

#child-2 {
    animation: changeBg 9s infinite;
    transition: background-color 0.5s ease-in-out;
}

#child-3 {
    animation: changeBg 9s infinite;
}

#child-4{
  animation: changeBg 9s infinite;
}

@keyframes changeBg {

    0% {
        transform: rotate(0deg) scale(1);
    }

    43% {
        transform: scale(1.05);
    }

    45% {
        transform: rotate(-7deg) scale(1.05);
    }

    50% {
        transform: rotate(7deg) scale(1.05);
    }

    55% {
        transform: rotate(-7deg) scale(1.05);
    }

    58% {
        transform: rotate(0deg) scale(1.05);
    }

    100% {
        transform: rotate(0deg) scale(1);
    }
}

.slider-container {
    overflow: hidden;
    width: 100%;
    position: relative;
}

.slider {
    display: flex;
    width: 200%;
    animation: slide 10s linear infinite;

    img {
        flex-shrink: 0;
    }
}

@keyframes slide {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}

@media (max-width: 768px) {
    #child-1{
        animation: none;
    }

    #child-2{
        animation: none;
    }

    #child-3{
        animation: none;
    }
}
