<section class="about-section" id="nosotros">
    <div class="about-container md:mb-[120px]">
        <div class="small-big-subtitle pt-8 md:pt-0 flex flex-col items-center justify-center md:mb-0 md:items-start md:ml-[70px]">
            <div class="subtitle-small text-2xl font-bold md:mb-4">
                <p>
                    Sobre nosotros
                </p>
            </div>
            <div class="subtitle-big text-4xl font-bold">
                <p>
                    ¿Quienes somos?
                </p>
            </div>
        </div>
        <div class="cards-container grid grid-col-1 md:flex md:flex-row md:justify-evenly gap-4 md:gap-6 place-items-center">
            <div class="cards p-4 md:w-[45%]">
                <div class="description text-center p-4">
                    We are a chain of theme restaurant founded in
                    1971 in London. In 1979, the cafe began covering
                    its walls with rock and roll memorabilia, a
                    tradition which expanded to others in the chain.
                </div>
                <div class="md:block">
                    <div id="default-carousel" class="relative w-full" data-carousel="slide">
                        <div class="relative h-56 overflow-hidden rounded-lg md:h-96">
                            <div class="hidden duration-700 ease-in-out" data-carousel-item>
                                <img src="images/dog_brown.jpg" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="img_1">
                            </div>
                            <div class="hidden duration-700 ease-in-out" data-carousel-item>
                                <img src="/images/dog.jpg" class="absolute block w-full  -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
                            </div>
                            <div class="hidden duration-700 ease-in-out" data-carousel-item>
                                <img src="/images/dog_black.jpg" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
                            </div>
                        </div>
                        <div class="absolute z-30 flex -translate-x-1/2 bottom-5 left-1/2 space-x-3 rtl:space-x-reverse">
                            <button type="button" class="w-3 h-3 rounded-full" aria-current="true" aria-label="Slide 1" data-carousel-slide-to="0"></button>
                            <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 2" data-carousel-slide-to="1"></button>
                            <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 3" data-carousel-slide-to="2"></button>
                        </div>
                        <button type="button" class="absolute top-0 start-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-prev>
                            <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 group-hover:bg-white/50 group-focus:ring-4 group-focus:ring-white group-focus:outline-none">
                                <svg class="w-4 h-4 text-white rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 1 1 5l4 4"/>
                                </svg>
                                <span class="sr-only">Previous</span>
                            </span>
                        </button>
                        <button type="button" class="absolute top-0 end-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-next>
                            <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 group-hover:bg-white/50 group-focus:ring-4 group-focus:ring-white group-focus:outline-none">
                                <svg class="w-4 h-4 text-white rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
                                </svg>
                                <span class="sr-only">Next</span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="cards md:w-[45%] hidden md:block">
                <div class="gib-image px-5">
                    <img src="/images/conference.svg" alt="conferencia_image" class="rounded-md w-[95%] md:w-[80%]">
                </div>
            </div>
        </div>
    </div>
</section>