<!-- Fixture Section -->
<section class="about-section" id="nosotros">
  <div class="p-2 mb-4 text-4xl text-center text-white font-extrabold big-title md:text-6xl">
    <p class="mb-4 text-7xl">Organizadores</p>
  </div>

  <div class="mx-auto px-4">
    <div class="grid grid-cols-1 gap-4 sm:grid-cols-2 md:grid-cols-4 md:gap-12 gallery-container-cards">

      <!-- CARD 1 -->
      <div
        class="card_desc-about p-6 rounded-lg md:mb-[40px] hover:shadow-xl transition-shadow w-full max-w-sm"
        id="child-1">
        <div class="flex flex-col text-[#29293d] description-title">
          <div class="flex flex-row justify-around mb-4 header-item md:mb-6">
            <div
              class="number w-[50px] h-[50px] rounded-full border-2 border-white text-white flex items-center justify-center bg-[#29293d] font-extrabold">
              1
            </div>
            <div class="my-auto font-extrabold text-white text-lg md:text-xl border-b-2 border-[#fff] text-center">
              Municipalidad Provincial del Cusco
            </div>
          </div>
          <div class="flex flex-col items-center text-center h-50">
            <img src="images/round_log.png" alt="pnp" class="h-30">
          </div>
        </div>
      </div>

      <!-- CARD 2 -->
      <div *ngIf="inputTitle==='bike-ride'"
        class="card_desc-about p-6 rounded-lg md:mb-[40px] hover:shadow-xl transition-shadow w-full max-w-sm"
           id="child-6">
        <div class="flex flex-col items-center text-center h-50 text-[#29293d]">
          <div class="flex flex-row justify-around mb-4 header-item md:mb-6">
            <div
              class="number w-[50px] h-[50px] rounded-full border-2 border-white text-white flex items-center justify-center bg-[#29293d] font-extrabold">
              2
            </div>
            <div class="my-auto text-white font-extrabold text-lg md:text-xl border-b-2 border-[#FFF] text-center">
              Policia Nacional del Perú
            </div>
          </div>
          <div class="text-center d-flex justify-items-center p-10">
            <img src="organizadores/pnpupdate.png" alt="pnp" class="w-125 " style="width: 150px">
          </div>
        </div>
      </div>
      <!-- CARD 3 -->
      <div
        class="card_desc-about p-6 rounded-lg md:mb-[40px] hover:shadow-xl transition-shadow w-full max-w-sm"
        id="child-3">
        <div class="flex flex-col items-center text-center h-50 text-[#29293d]">
          <div class="flex flex-row justify-around mb-4 header-item md:mb-6">
            <div
              class="number w-[50px] text-white h-[50px] rounded-full border-2 border-white flex items-center justify-center bg-[#29293d] font-extrabold">
              {{ inputTitle === 'challenge-champions' ? 2 : 3 }}
            </div>
            <div class="my-auto text-white font-extrabold text-lg md:text-xl border-b-2 border-[#fff] text-center">
              Sociedad de Beneficencia del Cusco
            </div>
          </div>
          <div class="text-center d-flex justify-items-center h-50">
            <img src="championship/bene_blanco.png" alt="pnp" class="h-30" style="width: 200px">
          </div>
        </div>
      </div>
      <div
        class="card_desc-about p-6 rounded-lg md:mb-[40px] hover:shadow-xl transition-shadow w-full max-w-sm"
        id="child-2">
        <div class="flex flex-col items-center text-[#29293d] justify-center description-title">
          <div class="flex flex-row justify-around mb-4 header-item md:mb-6">
            <div
              class="number w-[50px] h-[50px] text-white rounded-full border-2 border-white flex items-center justify-center bg-[#29293d] font-extrabold">
              {{ inputTitle === 'challenge-champions' ? 3 : 4 }}
            </div>
            <div class="my-auto text-white font-extrabold text-lg md:text-xl border-b-2 border-[#fff] text-center">
              Instituto Peruano del Deporte
            </div>
          </div>
          <div class="flex flex-col justify-center text-center h-50">
            <img src="championship/ipd.png" alt="pnp" class="h-30">
          </div>
        </div>
      </div>

      <!-- CARD 4 -->
      <div
        class="card_desc-about p-6 rounded-lg md:mb-[40px] hover:shadow-xl transition-shadow w-full max-w-sm"
        id="child-4">
        <div class="flex flex-col items-center text-center h-50 text-[#29293d]">
          <div class="flex flex-row justify-around mb-4 header-item md:mb-6">
            <div
              class="number w-[50px] h-[50px] rounded-full border-2 border-white text-white flex items-center justify-center bg-[#29293d] font-extrabold">
              {{inputTitle === 'challenge-champions' ? 4 : 5}}
            </div>
            <div class="my-auto text-white font-extrabold text-lg md:text-xl border-b-2 border-[#fff] text-center">
              Proyecto Cusco Deportes
            </div>
          </div>
          <div class="text-center d-flex justify-items-center h-50 py-20">
            <img src="auspiciadores/pdc.jpeg" alt="pnp" class="h-30">
          </div>
        </div>
      </div>
      @if (inputTitle==='bike-ride') {
        <div
          class="card_desc-about p-6 rounded-lg md:mb-[40px] hover:shadow-xl transition-shadow w-full max-w-sm"
          id="child-5">
          <div class="flex flex-col items-center text-center h-50 text-[#29293d]">
            <div class="flex flex-row justify-around mb-4 header-item md:mb-6">
              <div
                class="number w-[50px] h-[50px] rounded-full border-2 border-white text-white flex items-center justify-center bg-[#29293d] font-extrabold">
                6
              </div>
              <div class="my-auto text-white font-extrabold text-lg md:text-xl border-b-2 border-[#fff] text-center">
                Inka's bike perú
              </div>
            </div>
            <div class="text-center d-flex justify-items-center">
              <img src="championship/inkas-bike.png" alt="pnp" class="">
            </div>
          </div>
        </div>
      }
    </div>
  </div>
  <div class="py-2 px-4 about-section" *ngIf="inputTitle==='bike-ride'">
    <div class="mx-auto px-4">
      <div class="p-2 mb-4 text-4xl text-center text-white font-extrabold big-title md:text-6xl">
        <p class="mb-4 text-7xl">Coorganizadores</p>
        <div class="grid grid-cols-1 gap-4 sm:grid-cols-2 md:grid-cols-3 md:gap-12 gallery-container-cards">
          <div
            class="card_desc-about p-6 rounded-lg md:mb-[40px] hover:shadow-xl transition-shadow w-full max-w-sm"
            id="child-8">
            <div class="flex flex-col items-center text-center h-50 text-[#29293d]">
              <div class="flex flex-row justify-around mb-4 header-item md:mb-6">
                <div
                  class="number w-[50px] h-[50px] rounded-full border-2 border-white text-white flex items-center justify-center bg-[#29293d] font-extrabold">
                  1
                </div>
                <div class="my-auto text-white font-extrabold text-lg md:text-xl border-b-2 border-[#fff] text-center">
                  Municipalidad Distrital de San Jerónimo
                </div>
              </div>
              <div class="text-center d-flex justify-items-center h-50">
                <img src="championship/san jeronimo.png" alt="pnp" class="h-30">
              </div>
            </div>
          </div>
          <div
            class="card_desc-about p-6 rounded-lg md:mb-[40px] hover:shadow-xl transition-shadow w-full max-w-sm"
            id="child-7">
            <div class="flex flex-col items-center text-center h-50 text-[#29293d]">
              <div class="flex flex-row justify-around mb-4 header-item md:mb-6">
                <div
                  class="number w-[50px] h-[50px] rounded-full border-2 border-white text-white flex items-center justify-center bg-[#29293d] font-extrabold">
                  2
                </div>
                <div class="my-auto text-white font-extrabold text-lg md:text-xl border-b-2 border-[#fff] text-center">
                  Municipalidad Distrital de San Sebastian
                </div>
              </div>
              <div class="text-center d-flex justify-items-center h-50 ">
                <img src="championship/logo-sebastian.png" alt="pnp" class="h-30">
              </div>
            </div>
          </div>
          <div
            class="card_desc-about p-6 rounded-lg md:mb-[40px] hover:shadow-xl transition-shadow w-full max-w-sm"
            id="child-7">
            <div class="flex flex-col items-center text-center h-50 text-[#29293d]">
              <div class="flex flex-row justify-around mb-4 header-item md:mb-6">
                <div
                  class="number w-[50px] h-[50px] rounded-full border-2 border-white text-white flex items-center justify-center bg-[#29293d] font-extrabold">
                  3
                </div>
                <div class="my-auto text-white font-extrabold text-lg md:text-xl border-b-2 border-[#fff] text-center">
                  Municipalidad Distrital de Santiago
                </div>
              </div>
              <div class="text-center d-flex justify-items-center h-50 ">
                <img src="championship/santiago.png" alt="pnp" class="h-30">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="p-2 mb-4 text-4xl text-center text-white font-extrabold big-title md:text-6xl">
      <p class="mb-4 text-7xl">Ruta del Recorrido</p>
      <div class="border-4 border-yellow-500 rounded-2xl inline-block p-2 shadow-lg">
        <img src="championship/recorrido.png" alt="mapa" class="mx-auto">
      </div>
    </div>
  </div>
  @if(inputTitle === 'challenge-champions') {
    <div class="py-2 px-4 about-section">
      <div class="mx-auto px-4">
        <div class="p-2 mb-4 text-4xl text-center text-white font-extrabold big-title md:text-6xl">
          <p class="mb-4 text-7xl">Auspiciadores</p>
        </div>
        <div class="grid grid-cols-1 gap-4 sm:grid-cols-2 md:grid-cols-4 md:gap-12 gallery-container-cards">
          <div class="bg-white p-6 rounded-lg shadow-lg text-center card-sponsor glow-effect">
            <div
              class="w-24 h-24 bg-gradient-to-br from-blue-500 to-purple-600 rounded-full mx-auto mb-4 flex items-center justify-center pulse-border">
            <span class="text-white font-bold text-xl">
              <img src="auspiciadores/artesanal.jpeg" alt="Artesanal" class="h-24 mr-4">
            </span>
            </div>
            <h3 class="text-lg font-bold mb-2">El Marquez</h3>
            <p class="text-gray-600 text-sm">Asociación Artesanal de Productores</p>
          </div>

          <div class="bg-white p-6 rounded-lg shadow-lg text-center card-sponsor glow-effect">
            <div
              class="w-24 h-24 bg-gradient-to-br from-green-500 to-teal-600 rounded-full mx-auto mb-4 flex items-center justify-center pulse-border">
            <span class="text-white font-bold text-xl">
              <img src="auspiciadores/aspan.jpg" alt="aspan" class="h-24 mr-4">
            </span>
            </div>
            <h3 class="text-lg font-bold mb-2">ASPAN</h3>
            <p class="text-gray-600 text-sm">Asociación de panificadores de Oropesa</p>
          </div>

          <div class="bg-white p-6 rounded-lg shadow-lg text-center card-sponsor glow-effect">
            <div
              class="w-24 h-24 bg-gradient-to-br from-red-500 to-orange-600 rounded-full mx-auto mb-4 flex items-center justify-center pulse-border">
            <span class="text-white font-bold text-xl">
              <img src="auspiciadores/cuscoFc.png" alt="PowerDrink" class="h-24 mr-4">
            </span>
            </div>
            <h3 class="text-lg font-bold mb-2">Futbol Club Cusco</h3>
            <p class="text-gray-600 text-sm"></p>
          </div>

          <div class="bg-white p-6 rounded-lg shadow-lg text-center card-sponsor glow-effect">
            <div
              class="w-24 h-24 bg-gradient-to-br from-indigo-500 to-pink-600 rounded-full mx-auto mb-4 flex items-center justify-center pulse-border">
            <span class="text-white font-bold text-xl">
              <img src="auspiciadores/depo.png" alt="SportsMedia" class="h-24 mr-4">
            </span>
            </div>
            <h3 class="text-lg font-bold mb-2">Club Deportivo Garcilazo</h3>
            <!--          <p class="text-gray-600 text-sm">Transmisión Oficial</p>-->
          </div>
        </div>
      </div>
    </div>
  }
</section>
