<div class="flex flex-col max-w-md  h-auto items-center justify-center mx-auto bg-white p-6 rounded-lg shadow-2xl">
    <h2 class="text-2xl font-bold text-center mb-4">
        Iniciar Sesión
    </h2>
    <div class="image-head flex items-center justify-center flex-col md:mb-8">
        <img src="/images/logoGedur_6.png" alt="logo_ccc" class="w-[40%]">
        <div class="title-head font-bold text-2xl  text-center w-[70%]">
            <p>Centro de convenciones Cusco</p>
        </div>
    </div>
    <div>
        <form [formGroup]="loginForm" (submit)="login()">
            <div class="mb-4">
                <label class="block text-sm font-medium text-gray-700">Correo Electrónico</label>
                <input type="email" formControlName="email"
                    class="mt-1 block w-full px-3 py-2 border rounded-md shadow-sm focus:ring focus:ring-[#740938]"
                    placeholder="email@example.com" />
            </div>
    
            <div class="mb-4">
                <label class="block text-sm font-medium text-gray-700">Contraseña</label>
                <input type="password" formControlName="password"
                    class="mt-1 block w-full px-3 py-2 border rounded-md shadow-sm focus:ring-[#740938]"
                    placeholder="•••••••" />
            </div>
            <div class="flex items-center justify-center">
                <button type="submit" class="mt-6 w-auto bg-[#740938] text-white py-2 px-4 rounded-md hover:bg-[#F4C151] transition"
                [disabled]="loginForm.invalid">
                Iniciar Sesión
            </button>
            </div>
        </form>
    </div>
</div>