  <section class="" id="gallery">
    <div class="flex items-center justify-center">

        <h2 class="text-4xl font-bold text-center my-4 text-secondary" >1RA GRAN BICICLETEADA
          FAMILIAR</h2>
    </div>
    <div class="lg:col-start-3 lg:col-end-8 md:pb-0 md:mt-[40px]">
    </div>
      <h2 class="text-4xl font-bold text-center my-4 mb-6 text-secondary">RECORRIDO</h2>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-6 mx-auto justify-items-center mb-8 gallery-container-cards">
        <!-- Video 1 -->
        <div class="relative w-full max-w-[800px] rounded-lg shadow-lg aspect-video overflow-hidden bg-black">
          <video
            #videoPlayer
            src="https://video.relive.cc/6247752007571_dc335eb9a7e3-357a-ae94-09fb-1f5db1a7_relive-tracker_1757006083932.mp4?x-ref=site"
            type="video/mp4"
            autoplay
            controls
            loop
            muted
            playsinline
            class="relative z-10 h-full w-full"
          ></video>
        </div>

        <!-- Video 2 -->
        <div class="relative w-full max-w-[800px] rounded-lg shadow-lg aspect-video overflow-hidden bg-black">
          <video
            #videoPlayer3
            src="https://taqe.cusco.gob.pe/publico/web/campeonato/Spot_Kuska.mp4"
            type="video/mp4"
            [muted]="true"
            autoplay
            loop
            controls
            playsinline
            class="relative z-10 h-full w-full"
          ></video>
        </div>
      </div>
    <div class="grid grid-cols-1 gap-4 sm:grid-cols-2 md:grid-cols-3 md:gap-12 gallery-container-cards mt-2">
      <!-- Video horizontal -->
        <img src="bike-rider/IMG_2199.jpg" alt="logo_gdur" class="w-full rounded-lg shadow-lg">
        <img src="bike-rider/IMG_2203.jpg" alt="logo_gdur" class="w-full rounded-lg shadow-lg">
        <img src="bike-rider/IMG_2209.jpg" alt="logo_gdur" class="w-full rounded-lg shadow-lg">
        <img src="bike-rider/IMG_2210.jpg" alt="logo_gdur" class="w-full rounded-lg shadow-lg">
        <img src="bike-rider/IMG_2215.jpg" alt="logo_gdur" class="w-full rounded-lg shadow-lg">
        <img src="bike-rider/IMG_2233.jpg" alt="logo_gdur" class="w-full rounded-lg shadow-lg">
    </div>
  </section>
