<app-header></app-header>
<p>si renderiza el header</p>

<!-- <app-nav-bar></app-nav-bar> -->

<!-- <app-first-view></app-first-view>

<app-services></app-services>

<app-services-gallery></app-services-gallery>

<app-contact></app-contact>

<app-about></app-about>

<app-form></app-form>

<app-footer></app-footer> -->

<button routerLink="/personal">boton para personal</button><br>

<button routerLink="/protocol">boton para protocol</button>

<p>aquio abajo se renderiza el componente
</p>
<router-outlet />
