<section class="about-section">
    <div class="about-container">
        <div>
            <app-sections-subtitles
            smallText="Sobre nosotros"
            bigText="¿Quienes somos?">
            </app-sections-subtitles>
        </div>
        <div class="cards-container">
            <div class="cards">
                <div class="description">
                    We are a chain of theme restaurant founded in
                    1971 in London. In 1979, the cafe began covering
                    its walls with rock and roll memorabilia, a
                    tradition which expanded to others in the chain.
                </div>
                <div class="img-about">
                    
                </div>
            </div>
            <div class="cards">
                <div class="gib-image">
                    big-img
                </div>
            </div>
        </div>
    </div>
</section>