<section class="about-section" id="nosotros">
    <div class="about-container md:mb-[120px]">
        <div class="small-big-subtitle pt-8 md:pt-0 flex flex-col items-center justify-center md:mb-[70px] md:items-start md:ml-[70px]">
            <div class="subtitle-small text-xl font-bold">
                <p>
                    Sobre nosotros
                </p>
            </div>
            <div class="subtitle-big text-4xl font-bold">
                <p>
                    ¿Quienes somos?
                </p>
            </div>
        </div>
        <div class="cards-container grid grid-col-1 md:flex md:flex-row md:justify-evenly gap-4 md:gap-6 place-items-center">
            <div class="cards p-4 md:w-[45%]">
                <div class="description text-center p-4">
                    We are a chain of theme restaurant founded in
                    1971 in London. In 1979, the cafe began covering
                    its walls with rock and roll memorabilia, a
                    tradition which expanded to others in the chain.
                </div>
                <div class="img-about hidden md:block">
                    img
                </div>  
            </div>
            <div class="cards md:w-[45%]">
                <div class="gib-image px-5">
                    <img src="/images/passage.jpg" alt="" class="rounded-md w-[95%] md:w-[80%]">
                </div>
            </div>
        </div>
    </div>
</section>