// Colors
$black-color: #2D3136;
$gray-color: #7F8C99;
$yellow-color: #F4C151;

// Fonts
$Kaisei-font: "Kaisei HarunoUmi", sans-serif;
$JetBrains-font: "JetBrains Mono", sans-serif;

.about-section{
    font-family: $JetBrains-font, sans-serif;
}

.img-about{
    border: 2px solid $gray-color;
}

.subtitle-small{
    font-family: $JetBrains-font, sans-serif;
    color: $black-color;

}

.subtitle-big{
    font-family: $Kaisei-font, sans-serif;
    color: $black-color;
}