<section class="gallery-container md:my-[140px] hidden md:block" id="gallery">
    <div class="flex items-center justify-center">
        <app-titles smallText="Servicios" bigText="Escoge tu mejor ambiente"></app-titles>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-4 md:gap-12 gallery-container-cards">
        <article *ngFor="let place of places" class="card__article relative overflow-hidden mb-6 md:mb-0">
            <img class="h-auto max-w-full rounded-lg" [src]="place.image_url" [alt]="'Sala ' + place.name">
            <div
                class="card__data w-[90%] px-4 py-4 shadow-2xl rounded-2xl bg-[#F5F5F5] absolute -bottom-26 left-0 right-0 mx-auto opacity-0 transition-opacity duration-1000 delay-1000">
                <div>
                    <h2 class="card-title text-[#262626] text-xl font-medium mb-2">{{ place.name }}</h2>
                    <ul class="list-disc list-inside text-sm mb-2">
                        <li *ngFor="let feature of place.features.split(',')">
                            {{ feature }}
                        </li>
                    </ul>
                    <!-- <div class="link-btn flex items-center justify-center">
                        <button type="button"
                            class="text-white bg-[#740938] text-sm px-5 py-2.5 rounded-lg hover:bg-[#F4C151] hover:text-black ring-2 ring-[#785d22] focus:outline-none focus:ring-[#785d22]">
                            <i class="fa-solid fa-ticket mr-2"></i>
                            <a class="cursor-pointer" (click)="scrollToEmail()">
                                Reservar
                            </a>
                        </button>
                    </div> -->
                </div>
            </div>
        </article>
    </div>
</section>