<section class="gallery-container md:my-[140px] hidden md:block" id="gallery">
    <div class="flex items-center justify-center">
        <app-titles smallText="Servicios" bigText="Escoje tu mejor ambiente">
        </app-titles>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-4 md:gap-12 gallery-container-cards">
        <article class="card__article relative overflow-hidden mb-16 md:mb-0">
            <img class="h-auto max-w-full rounded-lg" src="images/machupicchu_1.jpeg" alt="Sala machupicchu">
            <div
                class="card__data w-[90%] px-4 py-4 shadow-2xl rounded-2xl bg-[#F5F5F5] absolute -bottom-26 left-0 right-0 mx-auto transition-opacity duration-1000 delay-1000 opacity-0">
                <div>
                    <h2 class="card-title text-[#262626] text-lg md:text-xl font-medium mb-2">
                        MACHUPICCHU
                    </h2>
                    <ul class="list-disc list-inside text-sm mb-2">
                        <li>
                            Congresos internacionales
                        </li>
                        <li>
                            Encuentros, premiaciones
                        </li>
                        <li>
                            Sesiones plenarias
                        </li>
                        <li>
                            Cenas empresariales y/o show
                        </li>
                    </ul>
                    <div class="link-btn flex items-center justify-center">
                        <button type="button"
                            class="text-white bg-[#740938] text-sm px-5 py-2.5 text-center inline-flex items-center rounded-lg hover:bg-[#F4C151] hover:text-black ring-2 ring-[#785d22] focus:outline-none focus:ring-[#785d22]">
                            <i class="fa-solid fa-ticket mr-2"></i>
                            <a class="cursor-pointer" (click)="scrollToEmail()">
                                Reservar
                            </a>
                        </button>
                    </div>
                </div>
            </div>
        </article>
        <article class="card__article relative overflow-hidden mb-6 md:mb-0">
            <img class="h-auto max-w-full rounded-lg" src="images/ollantaytambo.jpeg" alt="Sala ollantaytambo">
            <div
                class="card__data w-[90%] px-4 py-4 shadow-2xl rounded-2xl bg-[#F5F5F5] absolute -bottom-26 left-0 right-0 mx-auto transition-opacity duration-1000 delay-1000 opacity-0">
                <div>
                    <h2 class="card-title text-[#262626] text-xl font-medium mb-2">
                        OLLANTAYTAMBO
                    </h2>
                    <ul class="list-disc list-inside text-sm mb-2">
                        <li>
                            Exposiciones
                        </li>
                        <li>
                            Mesa de negocios
                        </li>
                        <li>
                            Inauguraciones
                        </li>
                    </ul>
                    <div class="link-btn flex items-center justify-center">
                        <button type="button"
                            class="text-white bg-[#740938] text-sm px-5 py-2.5 text-center inline-flex items-center rounded-lg hover:bg-[#F4C151] hover:text-black ring-2 ring-[#785d22] focus:outline-none focus:ring-[#785d22]">
                            <i class="fa-solid fa-ticket mr-2"></i>
                            <a (click)="scrollToEmail()">
                                Reservar
                            </a>
                        </button>
                    </div>
                </div>
            </div>
        </article>
        <article class="card__article relative overflow-hidden mb-6 md:mb-0">
            <img class="h-auto max-w-full rounded-lg" src="images/pisaq_3.jpeg" alt="Sala Pisaq">
            <div
                class="card__data w-[90%] px-4 py-4 shadow-2xl rounded-2xl bg-[#F5F5F5] absolute -bottom-26 left-0 right-0 mx-auto transition-opacity duration-1000 delay-1000 opacity-0">
                <div>
                    <h2 class="card-title text-[#262626] text-xl font-medium mb-2">
                        PISAQ
                    </h2>
                    <ul class="list-disc list-inside text-sm mb-2">
                        <li>
                            Congresos
                        </li>
                        <li>
                            Charlas técnicas
                        </li>
                        <li>
                            Presentación de productos
                        </li>
                    </ul>
                    <div class="link-btn flex items-center justify-center">
                        <button type="button"
                            class="text-white bg-[#740938] text-sm px-5 py-2.5 text-center inline-flex items-center rounded-lg hover:bg-[#F4C151] hover:text-black ring-2 ring-[#785d22] focus:outline-none focus:ring-[#785d22]">
                            <i class="fa-solid fa-ticket mr-2"></i>
                            <a class="cursor-pointer" (click)="scrollToEmail()">
                                Reservar
                            </a>
                        </button>
                    </div>
                </div>
            </div>
        </article>
        <article class="card__article relative overflow-hidden mb-10 md:mb-0">
            <img class="h-auto max-w-full rounded-lg" src="images/saqsayhuman_recorte.png" alt="Sala saqsayhuaman">
            <div
                class="card__data w-[90%] px-4 py-4 shadow-2xl rounded-2xl bg-[#F5F5F5] absolute -bottom-26 left-0 right-0 mx-auto transition-opacity duration-1000 delay-1000 opacity-0">
                <div>
                    <h2 class="card-title text-[#262626] text-xl font-medium mb-2">
                        SAQSAYHUAMÁN
                    </h2>
                    <ul class="list-disc list-inside text-sm mb-2">
                        <li>
                            Conferencia de prensa
                        </li>
                        <li>
                            Aniversarios
                        </li>
                        <li>
                            Homenajes
                        </li>
                        <li>
                            Salas de trabajo
                        </li>
                    </ul>
                    <div class="link-btn flex items-center justify-center">
                        <button type="button"
                            class="text-white bg-[#740938] text-sm px-5 py-2.5 text-center inline-flex items-center rounded-lg hover:bg-[#F4C151] hover:text-black ring-2 ring-[#785d22] focus:outline-none focus:ring-[#785d22]">
                            <i class="fa-solid fa-ticket mr-2"></i>
                            <a class="cursor-pointer" (click)="scrollToEmail()">
                                Reservar
                            </a>
                        </button>
                    </div>
                </div>
            </div>
        </article>
        <article class="card__article relative overflow-hidden mb-10 md:mb-0">
            <img class="h-auto max-w-full rounded-lg" src="images/tipon.jpeg" alt="Sala tipon">
            <div
                class="card__data w-[90%] px-4 py-4 shadow-2xl rounded-2xl bg-[#F5F5F5] absolute -bottom-26 left-0 right-0 mx-auto transition-opacity duration-1000 delay-1000 opacity-0">
                <div>
                    <h2 class="card-title text-[#262626] text-xl font-medium mb-2">
                        TIPÓN
                    </h2>
                    <ul class="list-disc list-inside text-sm mb-2">
                        <li>
                            Charlas especializadas
                        </li>
                        <li>
                            Rueda de prensa
                        </li>
                        <li>
                            Cursos
                        </li>
                        <li>
                            Talleres
                        </li>
                    </ul>
                    <div class="link-btn flex items-center justify-center">
                        <button type="button"
                            class="text-white bg-[#740938] text-sm px-5 py-2.5 text-center inline-flex items-center rounded-lg hover:bg-[#F4C151] hover:text-black ring-2 ring-[#785d22] focus:outline-none focus:ring-[#785d22]">
                            <i class="fa-solid fa-ticket mr-2"></i>
                            <a class="cursor-pointer" (click)="scrollToEmail()">
                                Reservar
                            </a>
                        </button>
                    </div>
                </div>
            </div>
        </article>
        <article class="card__article relative overflow-hidden mb-6 md:mb-0">
            <img class="h-auto max-w-full rounded-lg" src="images/quenqo_1.jpeg" alt="sala de quenqo">
            <div
                class="card__data w-[90%] px-4 py-4 shadow-2xl rounded-2xl bg-[#F5F5F5] absolute -bottom-26 left-0 right-0 mx-auto transition-opacity duration-1000 delay-1000 opacity-0">
                <div>
                    <h2 class="card-title text-[#262626] text-xl font-medium mb-2">
                        Q'ENQO
                    </h2>
                    <ul class="list-disc list-inside text-sm mb-2">
                        <li>
                            Mesa de trabajo
                        </li>
                        <li>
                            Sala de estar
                        </li>
                        <li>
                            Entrevistas
                        </li>
                    </ul>
                    <div class="link-btn flex items-center justify-center">
                        <button type="button"
                            class="text-white bg-[#740938] text-sm px-5 py-2.5 text-center inline-flex items-center rounded-lg hover:bg-[#F4C151] hover:text-black ring-2 ring-[#785d22] focus:outline-none focus:ring-[#785d22]">
                            <i class="fa-solid fa-ticket mr-2"></i>
                            <a class="cursor-pointer" (click)="scrollToEmail()">
                                Reservar
                            </a>
                        </button>
                    </div>
                </div>
            </div>
        </article>
        <article class="card__article relative overflow-hidden mb-6 md:mb-0">
            <img class="h-auto max-w-full rounded-lg" src="images/patrio_central.jpg" alt="Patio central">
            <div
                class="card__data w-[90%] px-4 py-4 shadow-2xl rounded-2xl bg-[#F5F5F5] absolute -bottom-26 left-0 right-0 mx-auto transition-opacity duration-1000 delay-1000 opacity-0">
                <div>
                    <h2 class="card-title text-[#262626] text-xl font-medium mb-2">
                        PATIO PRINCIPAL
                    </h2>
                    <ul class="list-disc list-inside text-sm mb-2">
                        <li>
                            Exposiciones, recepciones
                        </li>
                        <li>
                            Coffee breaks
                        </li>
                        <li>
                            Cócteles
                        </li>
                        <li>
                            Exhibiciones
                        </li>
                    </ul>
                    <div class="link-btn flex items-center justify-center">
                        <button type="button"
                            class="text-white bg-[#740938] text-sm px-5 py-2.5 text-center inline-flex items-center rounded-lg hover:bg-[#F4C151] hover:text-black ring-2 ring-[#785d22] focus:outline-none focus:ring-[#785d22]">
                            <i class="fa-solid fa-ticket mr-2"></i>
                            <a class="cursor-pointer" (click)="scrollToEmail()">
                                Reservar
                            </a>
                        </button>
                    </div>
                </div>
            </div>
        </article>
        <article class="card__article relative overflow-hidden mb-6 md:mb-0">
            <img class="h-auto max-w-full rounded-lg" src="images/patio_stands.jpg" alt="patio para stands">
            <div
                class="card__data w-[90%] px-4 py-4 shadow-2xl rounded-2xl bg-[#F5F5F5] absolute -bottom-26 left-0 right-0 mx-auto transition-opacity duration-1000 delay-1000 opacity-0">
                <div>
                    <h2 class="card-title text-[#262626] text-xl font-medium mb-2">
                        PATIO PARA STANDS
                    </h2>
                    <ul class="list-disc list-inside text-sm mb-2">
                        <li>
                            Exposiciones, recepciones
                        </li>
                        <li>
                            Coffee breaks
                        </li>
                        <li>
                            Cócteles
                        </li>
                        <li>
                            Exhibiciones
                        </li>
                    </ul>
                    <div class="link-btn flex items-center justify-center">
                        <button type="button"
                            class="text-white bg-[#740938] text-sm px-5 py-2.5 text-center inline-flex items-center rounded-lg hover:bg-[#F4C151] hover:text-black ring-2 ring-[#785d22] focus:outline-none focus:ring-[#785d22]">
                            <i class="fa-solid fa-ticket mr-2"></i>
                            <a class="cursor-pointer" (click)="scrollToEmail()">
                                Reservar
                            </a>
                        </button>
                    </div>
                </div>
            </div>
        </article>
    </div>
</section>