// Colors
$black-color: #2D3136;
$gray-color: #7F8C99;
$yellow-color: #F4C151;

// Fonts
$Kaisei-font: "Kaisei HarunoUmi", sans-serif;
$JetBrains-font: "JetBrains Mono", sans-serif;
$Poppins-font: "Poppins", sans-serif;

// .gallery-container {
//     display: flex;
//     flex-flow: column wrap;
//     justify-content: center;
//     align-items: center;
//     gap: 20px;

//     font-family: $Poppins-font, sans-serif;
// }

.gallery-container-cards {
    width: 80vw;
    margin: 0 auto;
}

.card-title{
    font-family: $Poppins-font, sans-serif;
}


// animation cards

.card__article:hover .card__data {
    animation: show-data 1s forwards;
    opacity: 1;
    transition: opacity .3s;
}

.card__article:hover {
    animation: remove-overflow 2s forwards;
}

.card__article:not(:hover) {
    animation: show-overflow 2s forwards;
}

.card__article:not(:hover) .card__data {
    animation: remove-data 1s forwards;
}

/* Card animation */
@keyframes show-data {
    50% {
        transform: translateY(-12rem);
    }

    100% {
        transform: translateY(-9rem);
    }
}

@keyframes remove-overflow {
    to {
        overflow: initial;
    }
}

@keyframes remove-data {
    0% {
        transform: translateY(-9rem);
    }

    50% {
        transform: translateY(-12rem);
    }

    100% {
        transform: translateY(.5rem);
    }
}

@keyframes show-overflow {
    0% {
        overflow: initial;
        pointer-events: none;
    }

    50% {
        overflow: hidden;
    }
}
