<footer class="bg-[#1a1a1d]">
    <div class="mx-auto w-[100%] md:w-[95%] max-w-screen-xl p-4 py-6 lg:py-8">
        <div class="md:flex md:justify-between">
            <div class="mb-6 md:mb-0">
                <div class="flex items-center flex flex-row justify-between">
                    <div class="img-footer">
                        <img src="/images/logoGedur_6.png" alt="logo_gedur" class="img-custom">
                    </div>
                    <div
                        class="title-footer flex flex-col px-5 text-white w-[60%] md:w-[70%] text-2xl md:text-6xl  leading-7">
                        <span>
                            <p>Centro</p>
                        </span>
                        <span>
                            <p>De</p>
                        </span>
                        <span>
                            <p>Convenciones</p>
                        </span>
                        <span>
                            <p>Cusco</p>
                        </span>
                    </div>
                </div>
            </div>
            <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8 md:hidden" />
            <div class="grid grid-cols-2 gap-8 sm:gap-6 sm:grid-cols-3">
                <div>
                    <h2 class="mb-6 text-sm font-semibold text-white dark:text-white">Recursos</h2>
                    <ul class="text-gray-500 dark:text-gray-400 font-medium">
                        <li class="mb-4">
                            <a href="#servicios" class="hover:underline">Servicios</a>
                        </li>
                        <li class="mb-4">
                            <a href="#gallery" class="hover:underline">Galeria</a>
                        </li>
                        <li class="mb-4">
                            <a href="#nosotros" class="hover:underline">Sobre nosotros</a>
                        </li>
                        <li>
                            <a href="#contacts" class="hover:underline">Contactos</a>
                        </li>
                    </ul>
                </div>
                <div>
                    <h2 class="mb-6 text-sm font-semibold text-white dark:text-white">Siguenos</h2>
                    <ul class="text-gray-500 dark:text-gray-400 font-medium">
                        <li class="mb-4">
                            <a href="https://www.facebook.com/municipalidaddelcusco/?locale=es_LA" class="hover:underline ">Facebook</a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/municipalidadelcusco/" class="hover:underline">Instagram</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
        <div class="sm:flex sm:items-center sm:justify-between">
            <span class="text-sm text-white    sm:text-center dark:text-gray-400">© 2025. Municipalidad Provincial de Cusco. HATUN LLAQTA.
            </span>
            <div class="flex mt-4 sm:justify-center sm:mt-0">
                <a href="https://www.facebook.com/municipalidaddelcusco/?locale=es_LA" class="text-gray-500 hover:text-gray-900 dark:hover:text-white" target="_blank">
                    <i class="fa-brands fa-facebook custom-icon-footer"></i>
                    <span class="sr-only">Facebook page</span>
                </a>
                <a href="https://www.instagram.com/municipalidadelcusco/" class="text-gray-500 hover:text-gray-900 dark:hover:text-white ms-5" target="_blank">
                    <i class="fa-brands fa-instagram custom-icon-footer"></i>
                    <span class="sr-only">Instagram page</span>
                </a>
                <a href="https://wa.me/51987720228?text=Hola%2C%20quiero%20consultar%20sobre%20una%20reserva%20para%20el%20Centro%20de%20Convenciones%20Cusco."  target="_blank" class="text-gray-500 hover:text-gray-900 dark:hover:text-white ms-5">
                    <i class="fa-brands fa-whatsapp custom-icon-footer"></i>
                    <span class="sr-only">WhatsApp page</span>
                </a>
            </div>
        </div>
    </div>
</footer>