<section class="section-contact">
    <div>
        <app-sections-subtitles 
        smallText="Ubicación"
        bigText="Contacta con nosotros">
        </app-sections-subtitles>
    </div>
    <div class="contact-container">
        <div class="items-containter">
            <div class="items-container flex place-content-around flex-row">
                <div class="item">
                    <div class="sub-item">
                        <div class="icon">
                            <i class="fa-solid fa-location-dot"></i>
                        </div>
                        <div class="text-description">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        </div>
                    </div>
                    <div class="sub-item">
                        <div class="icon">
                            <i class="fa-solid fa-phone"></i> 
                        </div>
                        <div class="text-description">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        </div>
                    </div>
                    <div class="sub-item">
                        <div class="icon">
                            <i class="fa-solid fa-envelope"></i>
                        </div>
                        <div class="text-description">
                            adminadmingmail.com
                        </div>
                    </div>
                </div>
                <div class="item">
                    2
                </div>
                <div class="item">
                    3
                </div>
            </div>
        </div>
    </div>
</section>