<section id="services">
    <div class="header">
        <div class="flex inner-header">
            <svg version="1.1" class="logo" baseProfile="tiny" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 500 500" xml:space="preserve">
                <path fill="#FFFFFF" stroke="#000000" stroke-width="10" stroke-miterlimit="10" d="M57,283" />
                <g>
                </g>
            </svg>
            <div class="pr-10 mt-8 text-center text-white md:mt-0">
                <div class="p-2 mb-2 text-3xl font-bold small-text md:mb-4 md:text-4xl">
                    <p>Salas</p>
                </div>
                <div class="p-2 mb-4 text-4xl font-extrabold big-title md:text-6xl">
                    <p>Conoce de cada uno</p>
                </div>
            </div>
        </div>
        <div>
            <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
                <defs>
                    <path id="gentle-wave"
                        d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
                </defs>
                <g class="parallax">
                    <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
                    <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
                    <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
                    <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
                </g>
            </svg>
        </div>
    </div>
    <div class="container px-4 py-8 mx-auto">
        <div class="grid grid-cols-1 gap-6 md:grid-cols-2 lg:grid-cols-3">
            <div *ngFor="let room of rooms"
                class="overflow-hidden transition-all duration-300 transform bg-white rounded-lg shadow-md room-card hover:scale-105">
                <div class="relative h-48 overflow-hidden">
                    <img [src]="room.imageUrl" [alt]="room.title"
                        class="object-cover w-full h-full transition-opacity duration-500">
                </div>
                <div class="p-6">
                    <h2 class="mb-4 text-2xl font-bold text-center text-gray-800">{{room.title}}</h2>
                    <div class="flex justify-between mb-4">
                        <div class="px-4 py-2 text-center">
                            <p class="text-sm text-gray-600">Jornada</p>
                            <p class="text-xl font-bold text-[#F4C151]">S/.{{room.fullDayPrice}}</p>
                        </div>
                        <div class="px-4 py-2 text-center">
                            <p class="text-sm text-gray-600">1/2 Jornada</p>
                            <p class="text-xl font-bold text-[#F4C151]">S/.{{room.halfDayPrice}}</p>
                        </div>
                    </div>
                    <div class="space-y-2">
                        <p class="text-gray-700"><span class="font-semibold">Tamaño:</span> {{room.roomSize}}</p>
                        <p class="text-gray-700"><span class="font-semibold">Capacidad:</span> {{room.maxCapacity}}
                            personas</p>
                        <p class="block text-gray-700 md:hidden"><span class="font-semibold">Features:</span>
                            {{room.features}}</p>
                    </div>

                    <div class="flex flex-row flex-wrap justify-between w-full">
                        <button class="mt-4 w-[60%] md:w-[70%] bg-[#740938] text-white py-2 px-4 rounded-lg hover:bg-[#e21743] transition-colors duration-300">
                            <a [routerLink]="['/reservar']" [queryParams]="{ room: room.title }" (click)="scrollToEmail()">
                                Realizar reserva
                            </a>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>