@if(typeSection !== 'useful-vacations' && typeSection !== 'seminar') {
  <section id="services" class="block hero-section">
    <div class="d-flex text-center p-2 mb-4 my-8 text-8Fixture del Torneoxl font-extrabold big-title md:text-6xl">
      <p class="mt-4 text-7xl text-secondary">Bases</p>
    </div>
    <div class="px-4 py-8 mx-auto">
      <div class="grid grid-cols-1 gap-4 sm:grid-cols-2 md:grid-cols-3 md:gap-12 gallery-container-cards">
        <div
          class="overflow-hidden transition-all duration-300 transform bg-white rounded-lg shadow-md room-card hover:scale-105">
          <div class="relative h-48 overflow-hidden">
            <!--          <img src="children/children.jpg"-->
            <!--               class="object-cover w-full h-full transition-opacity duration-500">-->
            <img [src]="typeSection === 'challenge-champions' ? imagen1 : imagen2"
                 class="object-cover w-full h-full transition-opacity duration-500" alt="img">

          </div>
          <div class="p-6" style="background-color: #460805">
            <h2 class="mb-4 text-2xl font-bold text-center text-white">
              {{typeSection === 'challenge-champions' ? 'Futbol Primaria' : 'Plaza de San Jerónimo - Plaza de Armas Cusco'}}</h2>
            <div class="space-y-2">
              <p class="text-white text-center pb-8"><span class="font-semibold"></span>12 años en adelante Varones Mujeres, 14.5O KM
              </p>
            </div>
            <div class="flex flex-row flex-wrap justify-between w-full">
              <button
                (click)="openPdf()"
                class="md:mt-[80px] lg:mt-[18px] w-[60%] md:w-[70%] bg-white text-black py-2 px-4 rounded-lg hover:bg-[#e21743] transition-colors duration-300">
                <a (click)="openPdf()" class="font-semibold" style="font-size: 14px;">
                  {{typeSection=== 'challenge-champions' ? 'Bases' : 'TRAMO INTI'}}
                </a>
              </button>
            </div>
          </div>
        </div>
        <div
          class="overflow-hidden transition-all duration-300 transform bg-white rounded-lg shadow-md room-card hover:scale-105">
          <div class="relative h-48 overflow-hidden">
            <img [src]='typeSection === "challenge-champions" ? "children/childrenVoley.jpg" : "bike-rider/IMG_2209.jpg"'
                 class="object-cover w-full h-full transition-opacity duration-500">
          </div>
          <div class="p-6"  style="background-color: #460805">
            <h2 class="mb-4 text-2xl font-bold text-center text-white">
              {{typeSection === 'challenge-champions' ? 'Voley Primaria' : 'Plaza de San Sebastian - Plaza de Armas Cusco'}}</h2>
            <div class="space-y-2">
              <p class="text-white text-center pb-8">
                <span class="font-semibold"></span>8 a 11 años Niños y Niñas, 7 km
              </p>
            </div>
            <div class="flex flex-row flex-wrap justify-between w-full">
              <button
                (click)="openPdf()"
                class="md:mt-[80px] lg:mt-[18px] w-[60%] md:w-[70%] bg-white text-black py-2 px-4 rounded-lg hover:bg-[#e21743] transition-colors duration-300">
                <a (click)="openPdf()" class="font-semibold" style="font-size: 14px;">
                  {{typeSection=== 'challenge-champions' ? 'Bases' : 'TRAMO KILLA'}}
                </a>
              </button>
            </div>
          </div>
        </div>
        <div
          class="overflow-hidden transition-all duration-300 transform bg-white rounded-lg shadow-md room-card hover:scale-105">
          <div class="relative h-48 overflow-hidden">
            <img [src]="typeSection=== 'challenge-champions' ? 'children/jovenesFutbol.jpg' : 'bike-rider/IMG_2261.jpg'"
                 class="object-cover w-full h-full transition-opacity duration-500">
          </div>
          <div class="p-6" style="background-color: #460805">
            <h2 class="mb-4 text-2xl font-bold text-center text-white">{{typeSection === 'challenge-champions' ? 'Futbol Secundaria' : 'Margen Derecha Distrito de Santiago - Plaza de Armas Cusco'}}</h2>
            <div class="space-y-2">
              <p class="text-white text-center"><span class="font-semibold"></span>Competidores con habilidades diferentes Varones Mujeres</p>
            </div>
            <div class="flex flex-row flex-wrap justify-between w-full">
              <button
                (click)="openPdf()"
                class="md:mt-[18px] lg:mt-[18px] w-[60%] md:w-[70%] bg-white text-black py-2 px-4 rounded-lg hover:bg-[#740938] transition-colors duration-300">
                <a (click)="openPdf()" class="font-semibold" style="font-size: 14px;">
                  {{typeSection=== 'challenge-champions' ? 'Bases' : 'TRAMO CHASKA'}}
                </a>
              </button>
            </div>
          </div>
        </div>
        @if (typeSection === 'challenge-champions') {
          <div
            class="overflow-hidden transition-all duration-300 transform bg-white rounded-lg shadow-md room-card hover:scale-105">
            <div class="relative h-48 overflow-hidden">
              <img src="children/voleyMujeres.jpg"
                   class="object-cover w-full h-full transition-opacity duration-500">
            </div>
            <div class="p-6" style="background-color: #460805">
              <h2 class="mb-4 text-2xl font-bold text-center text-white">Voley Secundaria</h2>
              <div class="space-y-2">
                <!--            <p class="text-gray-700 text-center"><span class="font-semibold"></span> varones de 12 a 17 años, 10 kilómetros-->
                <!--              de distancia.</p>-->
              </div>
              <div class="flex flex-row flex-wrap justify-between w-full">
                <button
                  (click)="openPdf()"
                  class="mt-4 w-[60%] md:w-[70%]  bg-white text-black py-2 px-4 rounded-lg transition-colors duration-300">
                  <a (click)="openPdf()" class="font-semibold" style="font-size: 20px;">
                    Bases
                  </a>
                </button>
              </div>
            </div>
          </div>
          <div
            class="overflow-hidden transition-all duration-300 transform bg-white rounded-lg shadow-md room-card hover:scale-105">
            <div class="relative h-48 overflow-hidden">
              <img src="children/ajedrezPrimaria.jpg"
                   class="object-cover w-full h-full transition-opacity duration-500">
            </div>
            <div class="p-6"  style="background-color: #460805">
              <h2 class="mb-4 text-2xl font-bold text-center text-white">Ajedrez Primaria</h2>
              <div class="space-y-2">
                <!--            <p class="text-gray-700 text-center"><span class="font-semibold"></span>Damas de 12 a 17 años, 10 kilómetros de distancia.</p>-->
              </div>
              <div class="flex flex-row flex-wrap justify-between w-full">
                <button
                  (click)="openPdfAjedrez()"
                  class="mt-4 w-[60%] md:w-[70%] bg-white text-black py-2 px-4 rounded-lg hover:bg-[#e21743] transition-colors duration-300">
                  <a (click)="openPdfAjedrez()"  class="font-semibold" style="font-size: 20px;">
                    Bases
                  </a>
                </button>
              </div>
            </div>
          </div>
          <div
            class="overflow-hidden transition-all duration-300 transform bg-white rounded-lg shadow-md room-card hover:scale-105">
            <div class="relative h-48 overflow-hidden">
              <img src="children/ajedrezMujeres.webp"
                   class="object-cover w-full h-full transition-opacity duration-500">
            </div>
            <div class="p-6"  style="background-color: #460805">
              <h2 class="mb-4 text-2xl font-bold text-center text-white">Ajedrez Secundaria</h2>
              <div class="space-y-2">
                <!--            <p class="text-gray-700 text-center"><span class="font-semibold"></span>Varones de 18 a 39 años, 10-->
                <!--              kilómetros de distancia.</p>-->
              </div>
              <div class="flex flex-row flex-wrap justify-between w-full">
                <button
                  (click)="openPdfAjedrez()"
                  class="mt-4 w-[60%] md:w-[70%] bg-white text-black py-2 px-4 rounded-lg hover:bg-[#e21743] transition-colors duration-300">
                  <a (click)="openPdfAjedrez()" class="font-semibold" style="font-size: 20px;">
                    Bases
                  </a>
                </button>
              </div>
            </div>
          </div>
        }
      </div>
    </div>
  </section>

}
