// Colors
$black-color: #2D3136;
$gray-color: #7F8C99;
$yellow-color: #F4C151;

// Fonts
$Kaisei-font: "Kaisei HarunoUmi", sans-serif;
$JetBrains-font: "JetBrains Mono", sans-serif;
$Niconne: "Niconne", sans-serif;
$Akaya: "Akaya Kanadaka", sans-serif;

.small-text {
    font-family: $Niconne, sans-serif;
}

.big-title {
    font-family: $Niconne, sans-serif;
}
.header {
    position: relative;
    text-align: center;
    background: linear-gradient(60deg, #8bc9ff,#8bc9ff,#18aec2);
    color: black;
}
.owner-section {

}
//.owner-section {
//  background:
//    linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
//    url("/background/fondo1.png") center/cover no-repeat;
//}
.gallery-container-cards {
  width: 80vw;
  margin: 0 auto;
}



@keyframes gradientAnimation {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}



.logo {
    width: 50px;
    fill: white;
    padding-right: 15px;
    display: inline-block;
    vertical-align: middle;
}

.inner-header {
    height: 10vh;
    width: 100%;
    margin: 0;
    padding: 0;
}

.flex {
    /*Flexbox for containers*/
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.waves {
    position: relative;
    width: 100%;
    height: 15vh;
    margin-bottom: -7px;
    /*Fix for safari gap*/
    min-height: 100px;
    max-height: 150px;
}

.content {
    position: relative;
    height: 20vh;
    text-align: center;
    background-color: white;
}

/* Animation */

.parallax>use {
    animation: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite;
}

.parallax>use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
}

.parallax>use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
}

.parallax>use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
}

.parallax>use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
}

@keyframes move-forever {
    0% {
        transform: translate3d(-90px, 0, 0);
    }

    100% {
        transform: translate3d(85px, 0, 0);
    }
}

/*Shrinking for mobile*/
@media (max-width: 768px) {
    .waves {
        height: 40px;
        min-height: 40px;
    }

    .content {
        height: 30vh;
    }

    h1 {
        font-size: 24px;
    }
}

.room-card {
    animation: cardAnimation 8s infinite;
}

//@keyframes cardAnimation {
//
//    0%,
//    100% {
//        background-color: rgba(255, 255, 255, 1);
//    }
//
//    50% {
//        background-color: rgba(238, 242, 255, 1);
//    }
//}

.room-card img {
    animation: imageAnimation 8s infinite;
}

@keyframes imageAnimation {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0.8;
    }
}
