// Colors
$black-color: #2D3136;
$gray-color: #7F8C99;
$yellow-color: #F4C151;

// Fonts
$Kaisei-font: "Kaisei HarunoUmi", sans-serif;
$JetBrains-font: "JetBrains Mono", sans-serif;

.section-contact{
    font-family: $JetBrains-font, sans-serif;
}

.small-text{
    font-family: $JetBrains-font, sans-serif;
}

.big-title{
    font-family: $Kaisei-font, sans-serif;
}

//.sub-item{
//    @apply bg-red-500 w-[80%] h-40 border-2 rounded-lg;
//}

.text-description{
    color: $gray-color;
}

.item-title{
    color: $yellow-color;
}

.item-subtitle{
    color: $black-color;
}

.item-description{
    color: $gray-color;
}

.support-items{
    color: $gray-color;
}

.item-suport-title{
    color: $black-color;
}



