<section id="contacts"></section>
<div class="mt-[50px]">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
        <defs>
            <linearGradient id="gradienteSvg" x1="0%" y1="0%" x2="100%" y2="0%">
            <stop offset="0%" style="stop-color:#740938; stop-opacity:1" />
            <stop offset="100%" style="stop-color:#e21743; stop-opacity:1" />
            </linearGradient>
        </defs>
        <path fill="url(#gradienteSvg)" d="M0,64L40,96C80,128,160,192,240,197.3C320,203,400,149,480,160C560,171,640,245,720,240C800,235,880,149,960,138.7C1040,128,1120,192,1200,208C1280,224,1360,192,1400,176L1440,160L1440,320L1400,320C1360,320,1280,320,1200,320C1120,320,1040,320,960,320C880,320,800,320,720,320C640,320,560,320,480,320C400,320,320,320,240,320C160,320,80,320,40,320L0,320Z"></path>
    </svg>
</div>
<section class="section-contact h-auto bg-gradient-to-r from-[#740938] to-[#e21743]">
    <div class="md:mb-[50px] mt-[-1px] flex flex-col items-center justify-center text-white text-center">
        <div class="small-text mb-4 text-4xl font-bold p-2">
            <p>
                Ubicación
            </p>
        </div>
        <div class="big-title mb-4 text-6xl font-extrabold p-2">
            <p>
                Contacta con nosotros
            </p>
        </div>
    </div>
    <div class="contact-container md:mb-[0px]">
        <div class="items-containter w-full">
            <div class="grid grid-cols-1 sm:grid-cols-3 gap-4 sm:gap-6 place-items-center">
                <div class="item flex flex-col w-[65%] p-5 rounded-md px-4 py-4 border-solid bg-white">
                    <div class="sub-item flex flex-row mb-4">
                        <div class="icon inline-block mr-4">
                            <i class="fa-solid fa-location-dot"></i>
                        </div>
                        <div class="text-description inline-block">
                            <p>
                                Plaza regocijo. Palacio municipal S/N.
                            </p>
                        </div>
                    </div>
                    <div class="sub-item flex flex-row mb-4">
                        <div class="icon inline-block mr-4">
                            <i class="fa-solid fa-phone"></i> 
                        </div>
                        <div class="text-description inline-block">
                            (+51) 987 720 228
                        </div>
                    </div>
                    <div class="sub-item flex flex-row">
                        <div class="icon inline-block mr-4">
                            <i class="fa-solid fa-envelope"></i>
                        </div>
                        <div class="text-description inline-block w-full truncate">
                            centro.convenciones&#64;cusco.gob.pe
                        </div>
                    </div>
                </div>
                <div class="item item flex flex-col w-[65%] rounded-md bg-white">
                    <div class="hour-service-item flex flex-col md:px-6 px-3 py-2">
                        <span class="item-title mb-2 font-bold text-center">
                            Horarios de servicio
                        </span>
                        <span class="item-subtitle font-bold">
                            Lunes a Viernes
                        </span>
                        <span class="text-description item-description">
                            8:00 - 21:00 horas
                        </span>
                        <span class="text-description item-description mb-2">
                            8:00 am - 9:00 pm
                        </span>
                        <span class="item-subtitle font-bold">
                            Sabados
                        </span>
                        <span class="text-description item-description">
                            8:00 - 18:00 horas
                        </span>
                    </div>
                </div>
                <div class="item item flex flex-col w-[65%] rounded-md px-4 py-4 bg-white">
                    <div class="support-items flex flex-col mb-4">
                        <span class="item-suport-title mb-2 font-bold  text-center">
                            Telefono de soporte
                        </span>
                        <span class="text-description">
                            (+51) 961 336 592
                        </span>
                        <span class="text-description item-suport-text">
                            8:00 - 18:00 horas
                        </span>
                    </div>
                    <div class="btn flex items-center justify-center">
                        <button type="button" class="focus:outline-none text-white hover:text-black bg-yellow-400 hover:bg-yellow-500 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2">
                            <a (click)="scrollToEmail()" class="cursor-pointer">
                                Realizar reserva
                            </a>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="w-full h-[80px] bg-gradient-to-r from-[#740938] to-[#e21743]">
</div>
<!-- <div class="mb-[20px]">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320" class="w-full h-auto">
        <defs>
            <linearGradient id="gradienteSvg" x1="0%" y1="0%" x2="100%" y2="0%">
            <stop offset="0%" style="stop-color:rgb(116, 9, 56); stop-opacity:1" />
            <stop offset="100%" style="stop-color:rgb(226, 23, 67); stop-opacity:1" />
            </linearGradient>
        </defs>
        <path fill="url(#gradienteSvg)" d="M0,96L40,90.7C80,85,160,75,240,85.3C320,96,400,128,480,144C560,160,640,160,720,138.7C800,117,880,75,960,96C1040,117,1120,203,1200,229.3C1280,256,1360,224,1400,208L1440,192L1440,0L1400,0C1360,0,1280,0,1200,0C1120,0,1040,0,960,0C880,0,800,0,720,0C640,0,560,0,480,0C400,0,320,0,240,0C160,0,80,0,40,0L0,0Z"></path>
        </svg>
</div> -->

<iframe src="https://www.google.com/maps/embed?pb=!1m21!1m12!1m3!1d242.45691836022374!2d-71.98067819790171!3d-13.516514909210427!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m6!3e2!4m0!4m3!3m2!1d-13.516342460522704!2d-71.98087500499555!5e0!3m2!1ses!2spe!4v1740494613434!5m2!1ses!2spe" class="w-full h-[500px]" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>