<div class="custom-first-view" id="first-view">
    <div class="childs">
        <div class="img-log">
            <p>image</p>
        </div>
    </div>
    <div class="childs">
        <div class="text-container">
            <div class="title">
                <p>
                    Center <br> Of <br> Convention <br> Fractal
                </p>
            </div>
            <div class="description">
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.
                </p>
            </div>
            <div class="button-container">
                <div class="link-buttons">
                    <button type="button" class="custom-button" id="btn-hours">
                        Horarios
                    </button>
                </div>
                <div class="link-buttons">
                    <button type="button" class="custom-button" id="btn-location">
                        Ubicacion
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>