@if (tittleSection === 'challenge-champions') {
  <section id="discipline" class="py-8 container mx-auto about-section">
    <div class="p-2 mb-4 text-4xl text-center text-white font-extrabold big-title md:text-6xl">
      <p class="mb-4 " style="font-family: Niconne, sans-serif, sans-serif;">Colegios por disciplina</p>
    </div>
    <div class="flex flex-wrap justify-center gap-3 mb-6">
      <button
        *ngFor="let cat of categorias; let i = index"
        (click)="setActive(i)"
        class="px-4 py-2 rounded-lg"
        [ngClass]="{
        'bg-amber-500 text-black': activeIndex === i,
        'bg-gray-200 text-gray-800': activeIndex !== i
      }"
      >
        {{ cat.nombre }}
      </button>
    </div>

    <!-- Contenido dinámico -->
    <div *ngFor="let cat of categorias; let i = index">
      <div *ngIf="activeIndex === i">
        <h3 class="text-xl font-semibold mb-4 text-white">{{ cat.nombre }}</h3>

        <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
          <div *ngFor="let grupo of cat.grupos" class="bg-white shadow-lg rounded-2xl p-4">
            <h4 class="text-lg font-semibold mb-3">{{ grupo.nombre }}</h4>
            <ul class="list-disc list-inside space-y-1">
              <li *ngFor="let colegio of grupo.colegios">{{ colegio }}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
}

